<br>
<br>
<br>
<div class="row feed">
   <h1> Feed</h1>
   <%@gossips.each do |gos|%>
      <div class="card">
         <p class="name_author" >
            <img src="https://source.unsplash.com/200x200/?portrait?sig=<%=rand(1..50)%>" 
            alt="avatar" class="rounded-circle img-fluid" style="width: 30px; margin-right:12px">
            <%= gos.user.first_name %> <%= gos.user.last_name %>
         </p>
         <div class="cover">
               <img src="https://source.unsplash.com/200x200/?town?sig=<%=rand(1..10)%>" 
                alt="avatar">
         </div>
         <div class="card_body">
            <p class="like" >               
               <% if current_user %>
                  <% pre_like = gos.likes.find{|like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                     <a href="<%= gossip_like_path(gos, pre_like) %>" data-method="DELETE">  <i class="fa-solid fa-heart"></i><%= gos.likes.count %> Unlike </a>
                  <% else %>
                     <a href="<%= gossip_likes_path(gos) %>" data-method="POST"> <i class="fa-solid fa-heart"></i><%= gos.likes.count %> <%= (gos.likes.count) > 1 ? 'Likes' : 'Like'%> </a>
                  <% end %>
               <% else %>
               <% end %> 
               <i class="fa-solid fa-comment"></i><%= gos.comments.count %> <%= (gos.comments.count) > 1 ? 'Comments' : 'Comment'%>
            </p>
            <h5 class="card-title"><%= gos.title %></h5>
            <a class="edit" href="<%= gossip_path(gos.id)%>" >Voir plus  <i class="fa-solid fa-plus"></i> </a>
         </div>
      </div>
   <% end %>
</div>