
<div class="card-content">
   <h1> <i class="fa-solid fa-map-pin"></i> <%= @city.name%></h1>
   <h4 class="scroll_to" > <i class="fa-solid fa-arrow-down"></i> Scroll to see others posts ... </h4>
</div>

<div class="row feed">
   <h1> Les gossips de cette ville</h1>
   <% @gossip.each do |gos|%>
       <% if gos.user.city_id == @city.id %>
         <div class="card">
         <p class="name_author" >
            <img src="https://source.unsplash.com/200x200/?portrait?sig=<%=rand(1..50)%>" 
            alt="avatar" class="rounded-circle img-fluid" style="width: 30px; margin-right:12px">
            <%= gos.user.first_name %> <%= gos.user.last_name %>
         </p>
         <div class="cover">
               <img src="https://source.unsplash.com/200x200/?town?sig=<%=rand(1..10)%>" 
                alt="avatar">
         </div>
         <div class="card_body">
             <p class="like" ><i class="fa-solid fa-heart"></i><%= gos.likes.count %> <%= (gos.likes.count) > 1 ? 'Likes' : 'Like'%> <i class="fa-solid fa-comment"></i><%= gos.comments.count %> <%= (gos.comments.count) > 1 ? 'Comments' : 'Comment'%></p>
            <h5 class="card-title"><%= gos.title %></h5>
            <a class="edit" href="<%= gossip_path(gos.id)%>" >Voir plus  <i class="fa-solid fa-plus"></i> </a>
         </div>
      </div>
      <% end %>
   <% end %>
</div>

